body {
  font-family: Arial;
  background: #f4f4f4;
  padding: 40px;
}

input {
  display: block;
  margin: 10px 0;
  padding: 8px;
}

button {
  padding: 10px;
  background: green;
  color: white;
  border: none;
}
